.bg-todo-list {
  margin: 0 auto;
  /* background: #fff; */
  border-radius: 10px;
  padding: 20px;
}

.todo {
  padding: 90px 0;
}

.todo-list {
  width: 100%;
  max-width: 500px;
  border: 1px solid #212121;
}

.list-single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  /* border-bottom: 1px solid #ccc; */
  width: 100%;
}

.input-icon {
  display: flex;
}

.todo-list .icon-send {
  font-size: 50px;
  padding: 0 10px;
  border: 1px solid #fff;
  color: #fff;
  background: rgba(255, 255, 255, 0.08);
  transition: color 0.2s;
  cursor: pointer;
}

.todo-list .icon-send:hover {
  color: rgba(255, 255, 255, 0.3);
}

.icons {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* ! border-left: 1px solid #ccc; */
  height: 100%;
  transition: 1s;
}

.todo-list .icon-trash {
  font-size: 15px;
  margin: 5px;

  color: #fff;
  transition: opacity 0.2s;
  cursor: pointer;
}

.todo-list .icon-trash:hover {
  opacity: 0.5;
}

.list-single .icon-check {
  font-size: 15px;
  color: #fff;
  margin: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.list-single:hover .icons {
  opacity: 1;
}

.list-single .icon-check:hover {
  opacity: 0.5;
}

.todo-list input {
  border: 1px solid #fff;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  outline: 0;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list ul {
  margin: 50px 0;
}

.list ul p {
  color: #fff;
}

.list-single .set-value {
  border: 0;
}

.todo-list .count-tasks {
  color: #ccc;
  font-size: 14px;
  margin: 10px 5px;
  font-weight: lighter;
  font-style: italic;
}
.list-single p {
  cursor: default;
  text-transform: capitalize;
  transition: 1s;
  width: 100%;
}
.checked {
  text-decoration: line-through;
  opacity: 0.5;
}
