* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #212121;
  color: #fff;
}


.container {
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
  width: 100vw;
}